<div class="sidebar" data-color="purple" data-background-color="white" data-image="/assets/img/sidebar-1.jpg">
    <div class="logo"><a href="http://www.creative-tim.com" class="simple-text logo-normal">
        Creative Tim
      </a></div>
    <div class="sidebar-wrapper">
      <ul class="nav">
        <li id="dashboard" class="nav-item active" >
          <a class="nav-link" href="/admin">
            <i class="material-icons">dashboard</i>
            <p>Dashboard</p>
          </a>
        </li>
        <li id="table" class="nav-item ">
          <a class="nav-link" href="/admin/table">
            <i class="material-icons">content_paste</i>
            <p>Table List</p>
          </a>
        </li>
        <li id="product" class="nav-item ">
          <a class="nav-link" href="/admin/product">
            <i class="material-icons">backup</i>
            <p>Create Product</p>
          </a>
        </li>
        <li id="product-list" class="nav-item ">
          <a class="nav-link" href="/admin/product/upload">
            <i class="material-icons">shopping_cart</i>
            <p>Product List</p>
          </a>
        </li>
        <li id="icons" class="nav-item ">
          <a class="nav-link" href="/admin/icons">
            <i class="material-icons">bubble_chart</i>
            <p>Icons</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
