<style>
  .tox{
    margin: 30px;
    border: 1px solid red;
  }
</style>

<div class="content">
    <div class="container-fluid ">
      <div class="row d-flex">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-primary">
              <h4 class="card-title">create product</h4>
            </div>
            <div class="card-body">
                <form method="POST" action="/admin/product/createProduct" style="margin-left:50px; display:inline" >
                    <input class="border-right-0  mr-3 border-left-0 border-top-0 border-primary" name="product" type="text" placeholder="Product's Name">
                    <input class="border-right-0 mr-3 border-left-0 border-top-0 border-primary" name="price" type="text" placeholder="Price">
                    <input class="border-right-0 mr-3 border-left-0 border-top-0 border-primary" name="color" type="text" placeholder="Color">
                    <% data__.forEach( (typeId) => { %>
                    <input class="border-right-0 mr-3 border-left-0 border-top-0 border-primary" name="type_id" type="hidden" value="<%= typeId.product_type_id %>" >
                    <% }); %>
                    <!-- tinyMCE -->
                    <textarea name="title" class="mt-5" id="mytextarea"></textarea>
                     <!-- /tinyMCE -->
                    <input type="hidden" name="_method" value="POST">
                    <a class="text-light ml-5">
                      <button class="btn btn-sm btn-success ">
                        Save
                      </button>
                    </a>
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script>
  tinymce.init({
    selector: '#mytextarea',
  });
</script>