<div class="content">
    <div class="container-fluid ">
      <div class="row d-flex">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-primary">
              <h4 class="card-title">create product type</h4>
            </div>
            <div class="card-body">
                <form method="post" action="/admin/product/createType" style="margin-left:50px;" >
                    <input class="border-right-0 border-left-0 border-top-0 border-success" type="text" name="product_type" placeholder="Product type">
                    <a style="margin-left:50%" class="text-light">
                        <button class="btn btn-sm btn-success">
                          Save
                        </button>
                      </a>
                </form>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>